$orange : #f38181;
$yellow : #fce38a;
$lime : #eaffd0;
$turquoise : #95e1d3;

// new set
$blue :#00bcd4;
$lightBlue: #b2ebf2;
$orange: #ff5722;
$red: #dd2c00;

$h1: 36px;
$h2: 32px;
$h3: 28px;
$h4: 24px;
$h5: 20px;
$h6: 16px;

