$orange : #f38181;
$yellow : #fce38a;
$lime : #eaffd0;
$turquoise : #95e1d3;

// new set
$blue :#00bcd4;
$lightBlue: #b2ebf2;
$orange: #ff5722;
$red: #dd2c00;

$h1: 32px;
$h2: 28px;
$h3: 24px;
$h4: 20px;
$h5: 16px;
$h6: 12px;

